<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dbe36a2d-07fb-4e7e-b7f5-60f0e6dd63bc" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-alert color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d848657e-e002-4e09-b6f5-8ed116b9b467">contentControls</Composition>
      <Composition Key="a35ba491-5011-4dc8-8089-9eba687d83e2">headerControls</Composition>
      <Composition Key="884495a9-8467-4b17-8d6e-1d06a2fd052e">mainImageControls</Composition>
      <Composition Key="631ef1f1-bb87-4bad-8596-5c7e6cbf93b4">sEOControl</Composition>
      <Composition Key="b41be13b-5170-4a94-a257-4d7b688dbb4d">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a7b80cb2-2993-4a12-9d76-d26816d2146c">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>