<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a97c91f9-46ce-484e-b07f-b61c1505a953" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact page</Name>
    <Icon>icon-billboard color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d3124163-dee6-4d4a-a0aa-6c59cec37e95">contactFormControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>