<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d3124163-dee6-4d4a-a0aa-6c59cec37e95" Alias="contactFormControls" Level="2">
  <Info>
    <Name>Contact Form Controls</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>42e53684-ddd6-43cd-8ff4-6db52352165d</Key>
      <Name>Error Message</Name>
      <Alias>errorMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the message to show on error]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="resultMessage">Result Message</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>753752e7-a9a6-4a66-a0b4-4ae3a0074a0b</Key>
      <Name>Succes Message</Name>
      <Alias>succesMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the message to show on success]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="resultMessage">Result Message</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>01ce8153-d1a7-4863-912f-1e5c4d9323f4</Key>
      <Caption>Result Message</Caption>
      <Alias>resultMessage</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>