<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2db61b60-f702-4b54-882c-b029e40f2428" Alias="error" Level="2">
  <Info>
    <Name>Error</Name>
    <Icon>icon-application-error color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d848657e-e002-4e09-b6f5-8ed116b9b467">contentControls</Composition>
      <Composition Key="a35ba491-5011-4dc8-8089-9eba687d83e2">headerControls</Composition>
      <Composition Key="884495a9-8467-4b17-8d6e-1d06a2fd052e">mainImageControls</Composition>
      <Composition Key="b41be13b-5170-4a94-a257-4d7b688dbb4d">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>