<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="90f81367-fd93-486e-ad5b-1b7d023b7cfe" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-bill-euro color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d848657e-e002-4e09-b6f5-8ed116b9b467">contentControls</Composition>
      <Composition Key="f6226462-3254-4d20-88ca-097227b85125">footerControls</Composition>
      <Composition Key="a35ba491-5011-4dc8-8089-9eba687d83e2">headerControls</Composition>
      <Composition Key="884495a9-8467-4b17-8d6e-1d06a2fd052e">mainImageControls</Composition>
      <Composition Key="631ef1f1-bb87-4bad-8596-5c7e6cbf93b4">sEOControl</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2b135467-ec62-4087-866d-a06c64a1a252">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a97c91f9-46ce-484e-b07f-b61c1505a953" SortOrder="0">contactPage</ContentType>
    <ContentType Key="dbe36a2d-07fb-4e7e-b7f5-60f0e6dd63bc" SortOrder="1">content</ContentType>
    <ContentType Key="2db61b60-f702-4b54-882c-b029e40f2428" SortOrder="2">error</ContentType>
    <ContentType Key="91fc6b41-92bf-49d0-9104-b1636ee08d7b" SortOrder="3">houseList</ContentType>
    <ContentType Key="4208d67d-f855-4ddb-b8b1-174edcad48f5" SortOrder="4">search</ContentType>
    <ContentType Key="fd8986a4-948a-47a8-a963-ac5bbdee1975" SortOrder="5">xMLSitemap</ContentType>
    <ContentType Key="9e48eb4a-6a46-46a3-9b29-d0b26867ae5b" SortOrder="6">theHouse</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>