<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e48eb4a-6a46-46a3-9b29-d0b26867ae5b" Alias="theHouse" Level="2">
  <Info>
    <Name>a house</Name>
    <Icon>icon-addressbook color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a house</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d848657e-e002-4e09-b6f5-8ed116b9b467">contentControls</Composition>
      <Composition Key="a35ba491-5011-4dc8-8089-9eba687d83e2">headerControls</Composition>
      <Composition Key="6bd3ab57-933a-42a2-af0b-26294b20723b">houseControls</Composition>
      <Composition Key="884495a9-8467-4b17-8d6e-1d06a2fd052e">mainImageControls</Composition>
      <Composition Key="631ef1f1-bb87-4bad-8596-5c7e6cbf93b4">sEOControl</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="af3b5f83-34a3-4d30-9136-b251a73680ce">House</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>