<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b41be13b-5170-4a94-a257-4d7b688dbb4d" Alias="visibilityControls" Level="2">
  <Info>
    <Name>Visibility Controls</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ec07c0a7-3b4a-489a-a027-7f2d2cabfada</Key>
      <Name>Hide From XML Sitemap</Name>
      <Alias>hideFromXMLSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tick this if you want to hide this page from the XML sitemap]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ce77ee9-8ec2-47a9-ae50-5a54b91004dc</Key>
      <Name>Umbraco Navi Hide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tick this box if you want to hide this page from navi and from search]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bfe26239-759f-488f-9af9-a2788bb484b1</Key>
      <Caption>Visibility</Caption>
      <Alias>visibility</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>