<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd8986a4-948a-47a8-a963-ac5bbdee1975" Alias="xMLSitemap" Level="2">
  <Info>
    <Name>XML Sitemap</Name>
    <Icon>icon-art-easel color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b41be13b-5170-4a94-a257-4d7b688dbb4d">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>