@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	Layout = "Master.cshtml";
}


@Html.Partial("Partials/header")

        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        @Html.GetGridHtml(Model, "mainContent", "Bootstrap3-fluid")       
                    </div>
                </div>
            </div>
        </article>

@Html.Partial("Partials/footer")