<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf5c7e0b-c1e1-4636-9ee3-97aebfc4afc4" Alias="areaCodes" Level="1">
  <Info>
    <Name>areaCodes</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "2000"
    },
    {
      "id": 2,
      "value": "2300"
    },
    {
      "id": 3,
      "value": "2200"
    }
  ]
}]]></Config>
</DataType>