<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b81eed88-8809-4f15-beff-58997b0a17ba" Alias="Icon Link List" Level="1">
  <Info>
    <Name>Icon Link List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{IconClass}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>