<?xml version="1.0" encoding="utf-8"?>
<Media Key="c27104f2-0ab9-4c9d-98e7-a3275ca80022" Alias="1665045" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-12-20T10:44:48</CreateDate>
    <NodeName Default="1665045" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4qchdqvz/1665045.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>