<?xml version="1.0" encoding="utf-8"?>
<Media Key="36882207-04c8-4e3e-93f2-6f1527da9cd4" Alias="A4cb2398169a4b5d81a392fa93f30b6a" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/A4cb2398169a4b5d81a392fa93f30b6a</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-12-20T10:45:16</CreateDate>
    <NodeName Default="A4cb2398169a4b5d81a392fa93f30b6a" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aeriqnwi/a4cb2398169a4b5d81a392fa93f30b6a.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>