<?xml version="1.0" encoding="utf-8"?>
<Content Key="4705d688-e15c-4085-a05c-ac03e7813899" Alias="Contact" Level="2">
  <Info>
    <Parent Key="1f932451-adf4-4883-8e55-6cc3ab807401">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2021-12-07T17:21:38</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[<p>Oh no</p>]]></Value>
    </errorMessage>
    <succesMessage>
      <Value><![CDATA[<p>Great success</p>]]></Value>
    </succesMessage>
  </Properties>
</Content>