<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bdf7995-7cc2-421b-963d-6ffe51aa66f7" Alias="Emils house" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/EmilsHouse</Path>
    <Trashed Parent="b82ef794-6d89-4ccc-9b23-8ef35c3706cc">true</Trashed>
    <ContentType>theHouse</ContentType>
    <CreateDate>2021-12-21T11:02:58</CreateDate>
    <NodeName Default="Emils house" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="af3b5f83-34a3-4d30-9136-b251a73680ce">House</Template>
  </Info>
  <Properties>
    <adress>
      <Value><![CDATA[Wilkensvej 47]]></Value>
    </adress>
    <areaCodes>
      <Value><![CDATA[["2000"]]]></Value>
    </areaCodes>
    <houseDate>
      <Value><![CDATA[2021-12-22T12:00:00]]></Value>
    </houseDate>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full",
          "id": "6397aa53-6375-48aa-8a08-c5faa9bea284",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Emils dejlige hus </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "9a48a3ef-1e0c-45cc-9589-926d7f287984",
    "mediaKey": "c63c13e9-5a4e-4118-af80-621e971dc78f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <price>
      <Value><![CDATA[2000000]]></Value>
    </price>
    <sellerName>
      <Value><![CDATA[Emil Hansen]]></Value>
    </sellerName>
  </Properties>
</Content>