<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcdf97eb-6956-475f-8d44-bfeb8dcc55a7" Alias="New house (1)" Level="3">
  <Info>
    <Parent Key="b82ef794-6d89-4ccc-9b23-8ef35c3706cc">Houses</Parent>
    <Path>/Home/Houses/NewHouse1</Path>
    <Trashed>false</Trashed>
    <ContentType>theHouse</ContentType>
    <CreateDate>2021-12-11T14:27:10</CreateDate>
    <NodeName Default="New house (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <houseDate>
      <Value><![CDATA[2021-12-09T12:00:00]]></Value>
    </houseDate>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <sellerName>
      <Value><![CDATA[]]></Value>
    </sellerName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>