<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c5feb61-7958-45e2-97ba-44e2c12dcc2c" Alias="new house" Level="3">
  <Info>
    <Parent Key="b82ef794-6d89-4ccc-9b23-8ef35c3706cc">Houses</Parent>
    <Path>/Home/Houses/newHouse</Path>
    <Trashed>false</Trashed>
    <ContentType>theHouse</ContentType>
    <CreateDate>2021-12-10T12:02:57</CreateDate>
    <NodeName Default="new house" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="af3b5f83-34a3-4d30-9136-b251a73680ce">House</Template>
  </Info>
  <Properties>
    <houseDate>
      <Value><![CDATA[2021-12-10T12:00:00]]></Value>
    </houseDate>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7dcc6a04-347a-4283-9b7c-9cc53bb60da2",
    "mediaKey": "587eecd8-ca57-43f2-a576-bc398b856fff",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <sellerName>
      <Value><![CDATA[]]></Value>
    </sellerName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[the new huse]]></Value>
    </title>
  </Properties>
</Content>