<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b2234d7-b90d-4284-8544-b9d770e75422" Alias="Third house" Level="3">
  <Info>
    <Parent Key="b82ef794-6d89-4ccc-9b23-8ef35c3706cc">Houses</Parent>
    <Path>/Home/Houses/ThirdHouse</Path>
    <Trashed>false</Trashed>
    <ContentType>theHouse</ContentType>
    <CreateDate>2021-12-20T10:39:20</CreateDate>
    <NodeName Default="Third house" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="af3b5f83-34a3-4d30-9136-b251a73680ce">House</Template>
  </Info>
  <Properties>
    <adress>
      <Value><![CDATA[Hans Jørgensens Vej 27]]></Value>
    </adress>
    <areaCodes>
      <Value><![CDATA[["2200"]]]></Value>
    </areaCodes>
    <houseDate>
      <Value><![CDATA[2021-12-03T11:00:00]]></Value>
    </houseDate>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full",
          "id": "426dc62d-5d22-4a1f-b5ac-a2bb4f70b7de",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat ante in purus interdum lacinia. Cras accumsan est augue, nec ornare elit facilisis in. Donec fermentum non orci eget ultricies. Maecenas quis velit lectus. Mauris eget fermentum quam. Quisque tristique placerat tempus. Mauris vel vulputate lorem, ut tincidunt elit. Suspendisse potenti.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "0e536131-62f4-40ed-beec-774765f8458f",
    "mediaKey": "c9a5820e-d7c8-4369-bb10-717b190634ce",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <price>
      <Value><![CDATA[2500000]]></Value>
    </price>
    <sellerName>
      <Value><![CDATA[John Bo]]></Value>
    </sellerName>
  </Properties>
</Content>