<?xml version="1.0" encoding="utf-8"?>
<Content Key="6304eee0-4f80-4d9e-a133-05446d9527a6" Alias="Third house" Level="3">
  <Info>
    <Parent Key="b82ef794-6d89-4ccc-9b23-8ef35c3706cc">Houses</Parent>
    <Path>/Home/Houses/ThirdHouse</Path>
    <Trashed>false</Trashed>
    <ContentType>theHouse</ContentType>
    <CreateDate>2021-12-08T21:12:18</CreateDate>
    <NodeName Default="Third house" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="af3b5f83-34a3-4d30-9136-b251a73680ce">House</Template>
  </Info>
  <Properties>
    <houseDate>
      <Value><![CDATA[2021-12-12T12:00:00]]></Value>
    </houseDate>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <sellerName>
      <Value><![CDATA[Jørgen Bent]]></Value>
    </sellerName>
    <subtitle>
      <Value><![CDATA[The most beatiful house ever]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Another house]]></Value>
    </title>
  </Properties>
</Content>